{% load staticfiles %}
<html>
  <head>

    <title>
      {% block title %}{% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />   
    <link href='http://fonts.googleapis.com/css?family=Mrs+Sheppards' rel='stylesheet' type='text/css'>
  </head>

  <body>

<div id="main">
    <div id="header">
      {% block header %}{% endblock %}  
    </div>

    <div id="content">
     <center> <div id="logo"><img class="logo" src="{% static 'logo.png' %}"></div></center>
      {% block content %}{% endblock %}
    </div>

    <div id="footer">
      {% block footer %}{% endblock %}
    </div>
</div>
  </body>

</html>
